NEXT_PUBLIC_SUPABASE_URL=https://dkzfrzwevnyzhcicmtda.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_7J6Pd6G8bAgJ5wEqVSpklQ_KJhQrZsa
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_7J6Pd6G8bAgJ5wEqVSpklQ_KJhQrZsa
NEXT_PUBLIC_API_BASE_URL=http://localhost:8000
